@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700;800;900");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgb(242 242 242 / 62%);
  font-family: "Commissioner", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  min-width: 375px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
button {
  font-family: inherit;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}
/* header */
header {
  background-image: linear-gradient(
      to bottom,
      rgb(0 0 0 / 52%),
      rgb(245 246 252 / 0%),
      rgb(117 19 93 / 0%)
    ),
    url(./images/image-hero-mobile.jpg);
  background-position: center;
  background-size: cover;
  width: auto;
  height: 338px;
  background-attachment: scroll;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  align-items: center;
}
.logo {
  cursor: pointer;
  z-index: 4;
}
.logo img {
  height: 25px;
}
.hamburger-menu {
  background-image: url("./images/icon-hamburger.svg");
  width: auto;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  background-size: contain;
  cursor: pointer;
  z-index: 4;
}
.hamburger-menu:hover {
  opacity: 0.9;
}
/* header - menu */
ul {
  list-style-type: none;
  text-align: left;
  background-color: white;
  font-weight: 700;
  font-size: 1.7rem;
}
a {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
}
a:hover {
  color: hsl(176, 50%, 47%);
}
.menu-list {
  display: none;
  position: absolute;
  z-index: 3;
  left: 10%;
  right: 10%;
  top: 11%;
  border-radius: 8px;
  box-shadow: -1px 93px 153px 211px #00000066;
  padding: 1rem 0;
}
.menu-list__item {
  padding: 2rem;
  padding-left: 1.5rem;
}
.menu-list__item:not(:nth-last-child(1)):after {
  display: block;
  content: "";
  border-bottom: 1px solid rgba(185, 184, 184, 0.62);
  padding-top: 2rem;
  margin: 0 auto;
  width: 100%;
}
/* main */
main {
  position: relative;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 80%;
  top: -64px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.card {
  border-radius: 7px;
  background-color: white;
  position: relative;
  padding: 3rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}
/* project overview */
.project-overview {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 5rem 3rem 3rem;
}
.project-logo {
  background-image: url(./images/logo-mastercraft.svg);
  background-repeat: no-repeat;
  position: absolute;
  height: 56px;
  width: 56px;
  left: calc(50% - 3rem);
  top: -28px;
}
.project-text {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.project-text__header {
  font-size: 2.2rem;
  font-weight: 800;
}
.project-text__paragraph {
  color: hsl(0, 0%, 48%);
  font-weight: 500;
  line-height: 1.7;
  font-size: 1.4rem;
}
/* project overview - btns */
.project-overview__btns {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  justify-content: center;
}
.back-this-project-btn {
  background-color: hsl(176, 50%, 47%);
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.7rem 12%;
  width: 100%;
}
.back-this-project-btn:hover {
  background-color: hsl(176, 72%, 28%);
}
/* project overview - bookmark btn */
svg {
  display: block;
  margin: auto;
  height: 100%;
}
.bookmark-btn svg path {
  width: 60px;
  height: auto;
}
.bookmark-btn:hover {
  opacity: 0.8;
}
/* bookmark btn - darken on click */
.bookmark-btn:active svg {
  fill: hsl(177, 69%, 20%);
}
.bookmark-btn:active svg circle {
  filter: brightness(55%);
}
.bookmark-btn:active svg path {
  filter: brightness(55%);
}
/* bookmark btn - move down after click, change colors, add shadow */
.active-bookmark svg {
  transform: translateY(2px);
}
.active-bookmark svg path {
  fill: white;
}
.active-bookmark svg circle {
  fill: hsl(176, 72%, 28%);
}
.active-bookmark svg {
  box-shadow: 0 0 6px 4px #99cbb7ed;
  border-radius: 50%;
}
/* project-numbers  */
.project-numbers {
  gap: 3rem;
}
span {
  display: block;
  font-weight: 800;
  font-size: 2.9rem;
  color: black;
}
.info {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: 500;
  color: hsl(0, 0%, 48%);
  gap: 0.7rem;
}
.info:not(:nth-last-child(2)):after {
  content: "";
  padding-top: 2rem;
  margin: 0 auto;
  width: 30%;
  border-bottom: 1px solid rgba(185, 184, 184, 0.62);
}
/* project-numbers - progress bar */
.progress-bar-container {
  border-radius: 50px;
  background-color: rgb(242 242 242 / 62%);
  width: 100%;
}
.progress-bar {
  height: 13px;
  width: 75%;
  background-color: hsl(176, 50%, 47%);
  border-radius: 50px;
}
/* about project */
.about-project {
  text-align: left;
  padding: 5rem 3rem 3rem;
  gap: 2.5rem;
}
/* about project - tiers */
.project-tier {
  border: 1px solid hsl(0, 1%, 83%);
  border-radius: 8px;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.amount-left {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 500;
  color: hsl(0, 0%, 48%);
}
.select-reward-btn {
  background-color: hsl(176, 50%, 47%);
  color: white;
  width: 70%;
  padding: 1.5rem 2rem;
}
.select-reward-btn:hover {
  background-color: hsl(176, 72%, 28%);
}
.accent {
  color: hsl(176, 50%, 47%);
  font-size: 1.3rem;
  font-weight: 600;
}
.project-tier-head {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.project-tier-head h2 {
  font-size: 1.5rem;
}
/* about project - out of stock */
.out-of-stock {
  position: relative;
}
.out-of-stock:after {
  content: " ";
  z-index: 3;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.432);
  border-radius: 8px;
  pointer-events: none;
}
.out-of-stock-btn {
  background-color: rgb(180, 180, 180);
}
.out-of-stock-btn:hover {
  background-color: rgb(180, 180, 180);
}
/* pledge selection */
.pledge-selection-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  visibility: hidden;
  overflow: scroll;
  min-width: 375px;
}
.pledge-selection {
  position: absolute;
  margin: 0 auto;
  text-align: left;
  width: 80%;
  top: 100px;
  left: 10%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.pledge-selection-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.modal {
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
.close-modal img {
  width: 18px;
  vertical-align: middle;
}
/* pledge selection radio and card border style */
input[type="radio"] {
  -webkit-appearance: none;
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 6px;
  background-clip: content-box;
  border: 1px solid #bbbbbb;
  border-radius: 25px;
}
.selected {
  border: 1px solid hsl(176, 50%, 47%);
}
.selected input[type="radio"]:checked {
  background-color: hsl(176, 50%, 47%);
}
/* show */
.show {
  visibility: visible;
}
.show ~ .menu-list {
  display: block;
}
.hamburger-menu.show {
  /* when opened, switch to close icon */
  background-image: url("./images/icon-close-menu.svg");
  background-size: contain;
}
/* disable body scroll when modal active */
.active-modal {
  overflow-y: hidden;
}
/* footer */
.attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
